{% load static %}
<html>
<head>

</head>
<body>

<input type="text" id="n_id">Enter ID</input>
<br>
<br>
<br>
<input type="text" id="n_name">Enter Name</input>
<br>
<br>
<button type="submit">Submit</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src='{% static "main.js" %}'></script>

</body>
</html>
